<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Product Reviews</title>
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link href="css/normalize.css" rel="stylesheet" type="text/css">
	<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="form-wrapper">
		<div class="wrapper-center">
			<form name="frm" class="product-review" ng-app="formApp" ng-controller="formController">
				<input ng-model="client.FName" type="text" class="contact-info" name="FName" placeholder="Name" required ng-minlength="3">
					<span class="input-error" ng-show="frm.FName.$dirty && frm.FName.$error.required">Required!</span>
					<span class="input-error" ng-show="frm.FName.$dirty && frm.FName.$error.minlength">name is invalid!</span>
				<br>

				<input ng-model="client.Email" type="email" class="contact-info" name="Email" placeholder="Email" required>
					<span class="input-error" ng-show="frm.Email.$dirty && frm.Email.$error.required">Required!</span>
					<span class="input-error" ng-show="frm.Email.$dirty && frm.Email.$error.email">email adress is invalid!</span>

				<div class="form-review">
					<textarea ng-model="client.ReviewTextarea" type="text" class="form-textarea" name="ReviewTextarea" placeholder="Add your review here!" 
							required ng-minlength="5" ng-maxlength="400" >
					</textarea><!--
				--><div class="rating-and-form-button">
							<span class="input-error input-error--textarea" ng-show="frm.ReviewTextarea.$dirty && frm.ReviewTextarea.$error.required">Required!</span>
							<span class="input-error input-error--textarea" ng-show="frm.ReviewTextarea.$dirty && frm.ReviewTextarea.$error.minlength">5 chars min!</span>
							<span class="input-error input-error--textarea" ng-show="frm.ReviewTextarea.$dirty && frm.ReviewTextarea.$error.maxlength">600 chars max!</span>
						<div class="form-rating">
							<div class="rating">
								<span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span>
							</div>
						</div>
						<button type="submit" class="form-button" ng-disabled="frm.$invalid" ng-click="addReview()">Add my review!</button>
					</div>
				</div>
			</form>
			<div class="product-feedback">
				<div class="product-feedback--user-feedback">
					<div class="user-feedback">
						<div class="user-avatar">
							<img class="user-avatar--pic" src="http://www.gravatar.com/avatar/b57aae41062df6cc4879e8675b71943e?r=R&d=identicon&s=80">
							<div class="user-avatar--name">Gigi Lupulescu</div>
						</div><!--
					 --><div class="user-review">
							Good! I recommend this product :) Good! I recommend this product :) Good! I recommend this product :) Good! I recommend this product :) Good! I recommend this product :) Good! I recommend this product :)
						</div><!--
					 --><div class="user-rating">
							<div class="user-rate">
								<span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span>
							</div>
						</div>
					</div>
					<div class="user-feedback">
						<div class="user-avatar">
							<img class="user-avatar--pic" src="http://www.gravatar.com/avatar">
							<div class="user-avatar--name">Titi Lugeorgescu</div>
						</div><!-- 
					 --><div class="user-review">
							It's bad..
						</div><!--
					 --><div class="user-rating">
							<div class="user-rate">
								<span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span>
							</div>
						</div>
					</div>
					<div class="user-feedback">
						<div class="user-avatar">
							<img class="user-avatar--pic" src="http://www.gravatar.com/avatar">
							<div class="user-avatar--name">Titi Lugeorgescu</div>
						</div><!-- 
					 --><div class="user-review">
							It's bad..
						</div><!--
					 --><div class="user-rating">
							<div class="user-rate">
								<span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span><!--
							 --><span>&#9734;</span>
							</div>
						</div>
					</div>
				</div>
				<div class="product-feedback--pages">
					<ul class="feedback-nav">
						<li class="page">
							<a href="#">1</a>
						</li>
						<li class="page active-page">
							<a href="#">2</a>
						</li>
						<li class="page">
							<a href="#">3</a>
						</li>
						<li class="page">
							<a href="#">4</a>
						</li>
						<li class="page">
							<a href="#">...</a>
						</li>
						<li class="page">
							<a href="#">10</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://code.angularjs.org/1.2.3/angular.min.js"></script>
        <script src="libs/angular/angular-resource.js"></script>
        <script src="js/controllers/controller.js"></script>
        <script src="js/services/service.js"></script> 
        <script src="js/main.js"></script>

</body>
</html>